html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="style.css")
    link(
      rel="preconnect", 
      href="https://fonts.gstatic.com"
    )
    link(
      rel="stylesheet", 
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
    )
    link(
      rel="stylesheet", 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/solid.min.css" 
      integrity="sha512-xIEmv/u9DeZZRfvRS06QVP2C97Hs5i0ePXDooLa5ZPla3jOgPT/w6CzoSMPuRiumP7A/xhnUBxRmgWWwU26ZeQ==", 
      crossorigin="anonymous"
    )
    link(
      rel="stylesheet", 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/brands.min.css" 
      integrity="sha512-dBL5cY4qTt42J1cfabCHTYR7KMztyd+n4t2GhD6EH/MKWJIIHuEYckJ1nHEpTwIaiDkrjzbc6WyiSkdLP+3INQ==", 
      crossorigin="anonymous"
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js", 
      integrity="sha512-UwcC/iaz5ziHX7V6LjSKaXgCuRRqbTp1QHpbOJ4l1nw2/boCfZ2KlFIqBUA/uRVF0onbREnY9do8rM/uT/ilqw==", 
      crossorigin="anonymous"
    )

    title Siddhesh Nachane - Resume


  body
    div.container
      include partials/header
      main
        include partials/workex
        div.grid
          div
            include partials/projects
            include partials/education
          include partials/skills
    


